<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<style type="text/css">
        html, body {width:100%;height:100%;}
        .bg {display: table;width: 100%;height: 100%;padding: 30px 0;text-align: center;background-color: #D2B48C;background-size: cover;}
        .my-navbar {padding:6px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;font-size:15px;}
        .my-navbar a{background:transparent !important;color:#fff !important}
        .my-navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}
        .top-nav {padding:0;background:#D2B48C;}
</style>

<!--The navigation bar-->
<nav class="navbar navbar-fixed-top my-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand" src="{% static 'images/logo.JPG' %}" alt="Picture of Rango" />
            <a class="navbar-brand">Computer Language Forum</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                {% if categories %}
                    {% for category in categories %}
                        <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>&nbsp
                    {% endfor %}
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
                <input class="search_form" type="search" name="search" placeholder="Search here...">
                <button class="submit_form" type="submit" class="submit_btn">Search</button>
                <button class="homepage" href="#">Home</button>
            </ul>
        </div>
    </div>
</nav>
<div class="bg"></div>

<script>
    $(window).scroll(function () {
        if ($(".navbar").offset().top > 50) {$(".navbar-fixed-top").addClass("top-nav");
        }else {$(".navbar-fixed-top").removeClass("top-nav");}})</script>


<!--The main page body part-->
<div class="img_bg">
    <img src="{% static 'images/1.jpg' %}" alt="Picture of background" width="50%" height="350" />
    {% if user.is_authenticated %}
        <div class="auth_user" >
            <p align="left">Hello {{ user.username }} !<br>
                Welcome to SLLC computer language forum !</p>
        </div>
    {% else %}
        <div class="auth_user" >
            hey there partner! <br>
            Please sign in!
        </div>
    {% endif %}
</div>

<div class="body_title" >The latest questions</div>
<button class="ask_question">Ask Question</button>


<div class="main-section">
    <div class="list_left">
        {% if pages %}
            <ul>
            {% for page in pages %}
                <a style="font-size: 20px" href="{{ page.url }}">{{ page.title }}</a>
                <hr align="left" width="60%"/>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
    </div>

    <div class="list-right">
        <div class="box-fixed"><h3>Most Views Questions</h3>
            {% if pages %}
                <ul>
                {% for page in pages %}
                    <div class="box-contents">
                        <a href="{{ page.url }}">{{ page.title }}</a>
                        <hr align="left" width="30%"/>
                    </div>
                {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}
        </div>
    </div>

    <div class="list-right-2">
        <div class="box-fixed-2"><h3>Most Likes Questions</h3>
            {% if pages %}
                <ul>
                {% for page in pages %}
                    <div class="box-contents-2">
                        <a href="{{ page.url }}">{{ page.title }}</a>
                        <hr align="left" width="30%"/>
                    </div>
                {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}
        </div>
    </div>

</div>>

<div></div>

<!--<img src="{% static 'images/logo.JPG' %}" alt="Picture of Rango" />-->
{% endblock %}
